#!/usr/bin/make -f

override_dh_auto_install:
	dh_auto_install -- --no-source
	mkdir -p debian/apt-transport-i2phttp/usr/lib/apt/methods/
	install -m755 debian/apt-transport-i2phttp/usr/bin/apt-transport-i2phttp \
		debian/apt-transport-i2phttp/usr/lib/apt/methods/i2p

%:
	dh $@ --buildsystem=golang --with=golang
